
{cover_enabled, true}.

{erl_opts, [
    debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.

% {edoc_opts, [{dir, "../../doc"}]}.

{project_plugins, [pc]}.


{deps, [
    {nklib, {git, "https://github.com/netcomposer/nklib.git", {branch, "v10"}}},
	%{ranch, {git, "https://github.com/ninenines/ranch.git", {tag, "1.4.0"}}},
	{cowboy, "2.6.0"},
    certifi,
    ssl_verify_fun,
	% Used for tests
	{gun,  "1.3.0"}
]}.


{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.
